.testpage_m {
    height: 100vh;
    display: flex;
    align-items: center;
}

.testpage_m[data-active-index = "0"] > .testpage_mpattern {
    background-position: 0% -25%;
}

.testpage_m[data-active-index = "1"] > .testpage_mpattern {
    background-position: 0% -50%;
}

.testpage_m[data-active-index = "2"] > .testpage_mpattern {
    background-position: 0% -75%;
}

.testpage_m[data-active-index = "3"] > .testpage_mpattern {
    background-position: 0% -100%;
}

.testpage_mitem {
    color: white;
    font-size: clamp(3rem, 3vw, 8rem);
    font-family: "Ibarra Real Nova", serif;
    display: block;
    text-decoration: none;
    /*padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;*/
    transition: opacity 400ms ease;
}

.testpage_mitems {
    width: 30%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
  }
  
  

.testpage_mitems:hover > .testpage_mitem {
    opacity: 0.3;
}

.testpage_mitems:hover > .testpage_mitem:hover {
    opacity: 1;
}

.testpage_mpattern {
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(rgba(255, 255, 255, 0.1), 9%, transparent 9%);
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    transition: opacity 800ms ease, background-size 800ms ease, background-position 800ms ease;
}

.testpage_mitems:hover ~ .testpage_mpattern {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
}

.testpage_mimage {
    height: 100%;
    width: 100%;
    background-image: url("../components/client-bg.png");
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
    background-position: center 25%;
    background-size: 160vmax;
    opacity: 0.5;
    transition: opacity 800ms ease, background-size 800ms ease, background-position 800ms ease;
}

.testpage_mitems:hover ~ .testpage_mimage {
    background-size: 150vmax;
    opacity: 0.45;
}

.profile-picture-nav {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .profile-picture-nav img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }