body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("https://www.w3schools.com/w3images/mac.jpg");
  height: 1080px;
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

.w3-padding-48 {
	padding: 48px;
}

.w3-padding-128-16 {
	padding: 128px 16px;
}

.w3-margintop-64 {
	margin-top: 64px;
}

.scontainer{
    width: 800px;
	height: 460px;
	margin-left: 100px;
    overflow: hidden;
    border: 10px solid #ffffff;
    border-radius: 8px;
    box-shadow: -1px 5px 15px black;
}

.wrapper {
	width: 100%;
    display: flex;
    animation: slide 16s infinite;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    90%{
        transform: translateX(-300%);
    }
	100%{
        transform: translateX(0%);
    }
}